<div class="d-flex flex-column min-vh-100">
  <!-- Header -->
  <header class="container d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a [routerLink]="['/shop']" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">Bakery as a Service</span>
    </a>
    <ul class="nav nav-pills">
      @if (isLoggedIn) {
        <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/shop']">Shop</a></li>
        <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/cart']">Cart</a></li>
        <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/login']" (click)="logout()">Logout</a></li>
      } 
      @if (!isLoggedIn) {
        <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a></li>
        <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/register']">Register</a></li>
      }
    </ul>
  </header>

  <!-- Main content -->
  <main class="flex-fill d-flex">
    <div class="container py-3">
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Footer -->
  <footer class="container pt-3 pb-3 mt-4 text-muted border-top">
    &copy; 2024 Bakery as a Service
    <br/>
    <small>Created with &#x2764; at <a href="https://github.com/AustrianDataLAB/bakery_as_a_service" class="text-muted">GitHub</a></small>
    <br/>
  </footer>
</div>
