<ul class="navbar">
  <li><a routerLink="/shop">Shop</a></li>
  <li><a routerLink="/cart">Cart</a></li>
</ul>

<h3>Products</h3>

@if(products.length == 0) {
      <p>There are currently no products available</p>
}

<div class="products">
  @for(product of products; track product) {
    <div class="product-card">
      <div>{{product.name}}</div><div>{{product.price}} EUR</div>
      <br/>
      <img src="https://www.thespruceeats.com/thmb/j4mujy24lcmnyW_a7VS1sVP4Mw4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/loaf-of-bread-182835505-58a7008c5f9b58a3c91c9a14.jpg"/>
    </div>
  }
</div>