<div class="container">
  <h3 class="mb-4">Products</h3>
  <div class="row">
    @if(products.length == 0) {
      <p>There are currently no products available</p>
    }
    @for(product of products; track product) {
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card h-100"> <!-- Ensure cards are of equal height -->
          <img src="{{apiUrl}}/assets/{{product.image}}" class="card-img-top img-fluid card-img-top-fixed" alt="{{product.name}}">
          <div class="card-body">
            <a href="/product/{{product.id}}" class="text-decoration-none text-reset">
              <h5 class="card-title">{{product.name}}</h5>
            </a>
            <p class="card-text">{{product.price}} €</p>
            <button class="btn btn-primary" (click)="add(product, 1, $event)">
              <i class="bi bi-cart-plus"></i>
              Add to cart
            </button>
          </div>
        </div>
      </div>
    }
  </div>
</div>