<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body py-md-0 ps-md-0">
            <div class="row">
              <div class="col-md-6 d-none d-md-block pe-1">
                <img src="assets/login-image.jpg" alt="Login" class="img-fluid rounded-start-1">
              </div>
              <div class="col-md-6 d-flex flex-column justify-content-center">
                <!-- potential alerts -->
                <app-alert></app-alert>
                <h2 class="card-title text-center mb-4">Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="mb-3">
                    <input type="email" formControlName="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="mb-3">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                  </div>
                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
                <div class="mt-3 text-center">
                  <span>You don't have an account? <a routerLink="/signup">Sign up</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>